.myBackground {
  grid-row: 2/3;
  grid-column:1/5;
  background-image: url("/assets/Star_of_David.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  min-height:300px;
}
.grid-container {
  height: 100%;
  display: grid;
 grid-template-columns: 20% 20% auto 20%;
 grid-template-rows: 10% 80% 10%;
 column-gap: 3px;
 row-gap: 3px;
 
}

app-tool-bar {
 grid-row: 1;
 grid-column: 1/5;
 align-self:center;
}

app-footer {
  grid-row: 3;
  grid-column: 1/5;
  align-self: stretch;

}
