p {
    font-family: Lato;
  }

.flex-container {
  display: flex;
  flex-direction: column;
}

footer {
  background-color:Blue;
  color:White;
  font-family: courier;
  height: 3em;
  text-align: center;
}

app-tool-bar {
 display: block;
}